    <div id="welcome" class="row-fluid">
      <div id="slider">
<% @worlds.each do |world| %>
        <div id="slider_<%=world.uid%>">
          <a href="/play/<%=world.first_uid%>">
            <%=image_tag world.uid+".jpg"%>
          </a>
        </div>
<% end %>
      </div>
    </div>
