    <div class="row-fluid">
      <h1>도움말</h1>

      <div class="well">
        <h2>미궁게임</h2>
        <p>미궁게임은 추리와 상상력으로 제시된 문제를 풀어가는 온라인 퍼즐 게임입니다. 보통 시나리오와 문제가 함께 주어지는 경우가 많으며, 시나리오와 문제는 서로 관련이 있을 수도, 없을 수도 있습니다. 주어진 문제에 대한 정답을 알아내어 맞추게 되면 다음 문제가 나타나는 방식으로 진행됩니다.</p>
        <p>다음은 문제 예시입니다. 미궁게임을 처음 접하시는 분은 문제를 잘 보신 후 감을 익혀보시기 바랍니다.</p>
        <p id="example-problem">Read it! HZUOEW.</p>
        <p>정답을 찾으셨나요? 정답 확인은 <a href="javascript:$('#example-answer').css('display', 'block')">여기</a>를 클릭해주세요.</p>
        <p id="example-answer">예시 문제의 정답은 income 입니다. 단어를 시계 방향으로 90도 회전하여 읽어보시기 바랍니다! :)</p>
      </div>

      <div class="well">
        <h2>KSA 미궁게임</h2>
        <p>KSA 미궁게임은 <a href="http://www.ksa.hs.kr/">한국과학영재학교(KSA)</a>에서 매학기 교내 축제 때마다 미궁게임 제작 연구회를 중심으로 정기적으로 만들고 있습니다. 시나리오와 문제가 한국과학영재학교에 맞추어진 부분들이 있으니 참고하시기 바랍니다. 본 서비스는 지금까지 제작된 미궁게임 중 일부를 복원하여 외부에 공개한 것입니다. 시나리오와 문제의 모든 저작권은 미궁게임 제작 연구회에 있음을 알립니다.</p>
      </div>

      <div class="well">
        <h2>만든이</h2>
      </div>
    </div>
