    <div id="welcome" class="row-fluid">
      <div class="hero-unit">
        <h1>KSA</h1>
      </div>
      <div class="wording">
        <p>라비린스</p>
      </div>
      
      <hr>
      <div class="loginbox">
        <form action="/user/login" method="post" class="form-inline">
          <input name="username" type="text" class="input-small" placeholder="사용자명">
          <input name="password" type="password" class="input-small" placeholder="비밀번호">
          <button type="submit" class="btn">로그인</button>
        </form>
      </div>
      <hr>
      
    </div>
