    <div id="welcome" class="row-fluid">
      <div class="loginbox">
        <form action="/user/login" method="post" class="form-inline">
          <input name="username" type="text" class="input-small" placeholder="사용자명">
          <input name="password" type="password" class="input-small" placeholder="비밀번호">
          <button type="submit" class="btn">로그인</button>
        </form>
      </div>
      <hr>
      <div id="slider">
<% @worlds.each do |world| %>
        <div id="slider_<%=world.uid%>">
          <%=image_tag world.uid+".jpg" %>
        </div>
<% end %>
      </div>
    </div>
